{% include 'meta.html' %}
  <div class="page pt-4">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">

          <div class="container py-3 mt-5">

            <div class="row">

            <div class="col-sm-9">
              {% block body %}
                {{ this.body }}
              {% endblock %}
            </div>

            <div class="col-sm-3">

              <div class="card-body text-center border">
                  <h4 class="text-primary">{{ _("Do you need help?") }}</h4>
                  <i class="fas fa-life-ring h1 text-primary mx-auto"></i>
                  <div class="pt-2">
                    <p class="toc-entry toc-h2 nav-item mb-0" >{{ ("See our community FAQ's") }}</p>
                    <a href="https://support.torproject.org" target="_blank" class="pt-1">{{ ("Visit Support") }}</a>
                  </div>
              </div>

              <div class="card-body text-center mt-4" style="background:#F2ECF4;">
                  <h4 class="text-primary">{{ _("Get in Touch") }}</h4>
                  <i class="fas fa-comments h1 text-primary mx-auto"></i>
                  <div class=" pt-2">
                    <p class="toc-entry toc-h2 nav-item mb-0" >{{ ("Chat with us live!") }}</p>
                    <a href="https://webchat.oftc.net/?channels=tor" target="_blank" class="pt-1">{{ ("Join us on IRC") }}</a>
                  </div>
              </div>

            </div>

            <div class="card mt-5">
              <ul class="list-group list-group-flush">
                <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
                <li class="list-group-item">
                  <a href="{{ this.parent|url }}">{{ _("Back to previous page: ") }}{{ this.parent.title }}</a> - <a href="https://gitlab.torproject.org/tpo/web/tpo/-/edit/main/content{{ this.path }}/contents.lr">{{ _("Edit this page") }}</a>
                </li>
              </ul>
            </div>

          </div>

          </div>

        </main>
      </div>
    </div>
  </div>

  {% if this.section == "Download" %}
    {% include 'footer-min.html' %}
  {% else %}
    {% include 'footer.html' %}
  {% endif %}
</body>
</html>
